{% extends 'base.html' %}


{% block content %}


<!-- formular de contact: nume, prenume, numar de telefon, email, oras, mesaj (optional) max 255 char-->>

<section id="contact-section">
    <div class="contact-container">
        <div class="contact-form-container">
            <h2>Contactează-ne</h2>
            <form action="{{ url_for('contact.contact') }}" method="POST">
                <div class="form-group">
                    <label for="name">Nume</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="message">Mesaj</label>
                    <textarea id="message" name="message" rows="4" required></textarea>
                </div>
                <button type="submit" class="cta-button">Trimite</button>
            </form>
        </div>

        <div class="contact-info-container">
            <h2>Informații Contact</h2>
            <ul>
                <li><strong>Adresă:</strong> Strada Principală, Nr. 123, comuna Nicolae Bălcescu, Bacău, România</li>
                <li><strong>Telefon:</strong> +40 731393614</li>
                <li><strong>Email:</strong> info@nobusfriends.com</li>
                <li><strong>Program:</strong> Luni - Vineri: 9:00 AM - 6:00 PM</li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}