{% extends 'base.html' %}


{% block content %}
<section class="home-section breeding-philosophy">
    <div class="section-content">
        <h2>Filosofia noastră de breeding</h2>
        <div class="section-content-wrapper">
            <p>Ne concentrăm pe creșterea de pisici Maine Coon sănătoase și fericite, cu temperament excepțional. Scopul nostru este să ne asigurăm că fiecare pisoi este bine socializat și pregătit pentru o viață fericită alături de noua sa familie.</p>
        </div>
    </div>
</section>

<section class="home-section reliability">
    <div class="section-content">
        <h2>Fiabilitate în relațiile cu clienți</h2>
        <div class="section-content-wrapper">
            <p>Suntem dedicați să oferim servicii excelente clienților noștri. De la momentul în care întrebați despre un pisoi până în ziua în care noul vostru prieten felin ajunge acasă, garantăm un proces clar și fără probleme.</p>
        </div>
    </div>
</section>

<section class="home-section legal-pedigree">
    <div class="section-content">
        <h2>100% Pedigree</h2>
        <div class="section-content-wrapper">
            <p>Toate pisicile noastre sunt complet înregistrate la asociațiile de rase recunoscute. Ne asigurăm că practicile noastre de reproducție sunt etice.</p>
        </div>
    </div>
</section>
</main>


<section class="home-section call-to-action">
    <h2>Intră în contact cu noi pentru mai multe informații!</h2>
    <a href="/contact" class="cta-button">Contactează-ne</a>
    <a href="/cuiburi" class="cta-button">Vezi cuiburile disponibile</a>
</section>

<!-- Galerie cu pisiki, galerie de la concurs -->

<section class="home-section gallery">
    <h2>Pisicii noștri fericiți</h2>
    <div class="gallery-grid">
        <img src="{{ url_for('static', filename='images/483982123_675742091870831_2153764201709045633_n.jpg') }}" type="image/jpg" alt="Maine Coon 1">
        <img src="{{ url_for('static', filename='images/daphne.jpg' ) }}" type="image/jpg" alt="Maine Coon 2">
        <img src="{{ url_for('static', filename='images/486823438_686192354159138_2468757181954243557_n.jpg' ) }}" type="image/jpg" alt="Maine Coon 3">
        <img src="{{ url_for('static', filename='images/dusty.jpg' ) }}" type="image/jpg" alt="Maine Coon 4">
        <img src="{{ url_for('static', filename='images/483653293_674089942036046_27617814628554744_n.jpg'   ) }}" type="image/jpg" alt="Maine Coon 5">
        <img src="{{ url_for('static', filename='images/ekko.jpg' ) }}" type="image/jpg" alt="Maine Coon 6">
    </div>
</section>




<section class="home-section social-media">
    <h2>Urmărește-ne pe rețelele sociale!</h2>
    <div class="social-media-buttons-container">
        <button class="social-media-button">
            <a href="https://www.facebook.com/yourpage" target="_blank">
                <i class="fab fa-facebook-f" style="font-size: 50px;"></i> 
            </a>
        </button>

        <button class="social-media-button">
            <a href="https://www.instagram.com/yourprofile" target="_blank">
                <i class="fab fa-instagram" style="font-size: 50px;"></i> 
            </a>
        </button>
    </div>
</section>


{% endblock %}