{% extends 'base.html' %}


{% block content %}
 <!-- Breeding Philosophy Section -->
 <section class="home-section breeding-philosophy">
    <div class="section-content">
        <h2>Filosofia noastră de breeding</h2>
    <p>Ne concentrăm pe creșterea de pisici Maine Coon sănătoase și fericite, cu temperament excepțional. Scopul nostru este să ne asigurăm că fiecare pisoi este bine socializat și pregătit pentru o viață fericită alături de noua sa familie.</p>
    </div>
</section>

<!-- Reliability Section -->
<section class="home-section reliability">
    <div class="section-content">
        <h2>Fiabilitate în relațiile cu clienți</h2>
        <p>Suntem dedicați să oferim servicii excelente clienților noștri. De la momentul în care întrebați despre un pisoi până în ziua în care noul vostru prieten felin ajunge acasă, garantăm un proces clar și fără probleme.</p>
    </div>
</section>

<!-- Legal Sanctioning & Pedigree Section -->
<section class="home-section legal-pedigree">
    <div class="section-content">
        <h2>100% Pedigree</h2>
        <p>Toate pisicile noastre sunt complet înregistrate la asociațiile de rase recunoscute. Ne asigurăm că practicile noastre de reproducție sunt etice.</p>
    </div>
</section>
</main>


<!-- Galerie cu pisiki, galerie de la concurs -->

<!-- Section pointing to contact page -->
{% endblock %}